

.container{
	background-color:#3E3942;
	width:70%;
	border-radius:10px;
	margin:0px auto;
	border:2px solid black;
}

.img{
	opacity:0.85;
}



.bas{
	color:white;
	
	
}

.likee{
	width:40px;
	
	
}

.clear{
	clear:both;
}

#title_t {
	color: #FFF;
	padding: 2rem;
}

.kutu{
	width:700px;
	height:40px;
	margin-left:20%;
	margin-top:3%;
	font:bold 14px tahoma;
	border:3px solid gray;
	border-radius:4px;
	} 
	
.buton-tasarim{
		  background-image: url(ara.jpg);
		background-repeat: no-repeat;
		background-size: 30px 30px;
		background-position: left center;
		border-radius:3px;
		text-align:right;
		width:110px;
		height:46px;
	}




section{
	background-color:white;
	border:2px solid;
	padding-bottom:50px;
}

.koleksyon{
	
	left:10px;
	position:relative;
	display: inline;
	margin-top:7%;
	
	
}
.sol-resim{
	position:relative;
	text-align:center;
	float:left;
}
p{
	color:#269ADE;
	font:bold 14px tahoma ;
}

.sag-resim{
	position:relative;
	text-align:center;
	float:left;
}
.baslik{
	text-align:center;
}

.explanation{
	margin-top:5%;
	margin-left:12%;
	float:left;
}

.button{

    background-color: green;

    border: none;

    color: white;

    padding: 15px 32px;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 16px;

    margin: 4px 2px;

    cursor: pointer;
}

.price{
	padding-left:35%;
	margin-top:5%;
	margin-left:12%;
	
}


.ortaresim{
	position:relative;
	margin-left:4%;
	margin-right:4%;
	text-align:center;
	float:left;
}

.resimler{
margin-top:5%;	
margin-bottom:5%;
}

.resim_cerceve{
	
	margin-left:11.9%;
	margin-right:11.9%;
	
	margin-top:5%;
	border:2px solid black;
}

body{
	
}

tr{
	
	text-align:center;
}



.istisna{
	color:#0AADFF;
}


ul { list-style-type:none; 
}
a {
	 color:white;
     text-decoration: none;
    }
	
	
.sayfa
{	width:400px;
	height:100px;	
	margin-top:5%;
	margin-left:40%;
	color:black;
	font-weight:bolder;
	text-align:center;
}
#naturell li{
	/*      display:none;       */
}

.sira1{
	float:left;
}
.sira2{
	float:left;
}
.sira3{
	float:left;
}
.sira4{
	float:left;
}
.sira5{
	float:left;
}
.sira6{
	float:left;
}
.sira7{
	float:left;
}
.sira8{
	float:left;
}



	
	

.sag_baslik{
	
}
.top_nav ul li{
	
	margin:8%;
	display: inline;
	font-size: 18px;
  font-weight: bolder;
		
}

.alt_bilgi{
	
	text-align:right;
	margin-top:5%;
	margin-right:5%;
  font-weight: bolder;
	
	
}




.bottom_nav ul li{
	
	margin:12%;
	display: inline;
	
  font-weight: bolder;
		
}

.about{
	background-image: url("photo.jpg");
	background-repeat: no-repeat;
	background-size: 1300px 720px;
	backgro
	opacity:0.8;
	margin-top:20%;
	font:bold 14px tahoma ;
	margin:5%;
	
	
	
}
#yazi_about{
	padding:4%;
	color:white;
	text-align:right;
}

.sat_yazi{
	padding:4%;
	text-align:left;
	color:white;
	
}

.mission_yazi{
	padding:4%;
	text-align:right;
	color:white;
	
}

.baslik_sell{
	
	text-align:center;
}
.gonder{
	background-color:white;
	padding-left:10%;
	padding-right:10%;
	padding-bottom:5%;
	padding-top:5%;
	margin-left:22%	;
	margin-top:5%;
	text-align:center;
	border: 2px solid black;
	width:500px;
	
}

.category{
	background-color:white;
		padding-left:10%;
	padding-right:10%;
	padding-bottom:5%;
	padding-top:5%;
	margin-left:22%	;
	margin-top:5%;
	text-align:center;
	
	width:500px;
	
}

.baslik_contact{
	color:black;
	font:bold 14px tahoma ;
}
.login_container{
	margin-bottom:5%;
	margin-top:10%;
	
}
.main_yazi{
text-align:center;
font:bold 14px tahoma ;
}

.kucuk{
	font:12px tahoma ;
	
}


article{
	margin-top:10%;
	text-align:center;
}


.left_side{
	clear:both;
}
.last{
	
	text-align:center;
}

.buttons{
	
	margin-top:5%;
	
}

.button1{
	
	margin-left:14%;
	background-color: grey; /* Green */
	border-radius: 7px;
	border: 2px solid black;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	
}

.button1:hover {
	
  background-color: #4CAF50; /* Green */
  color: white;
   overflow: hidden;
  cursor: pointer;
}

.button2{
	
	margin-left:14%;
	background-color: grey; /* Green */
	border-radius: 7px;
	border: 2px solid black;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	
}

.button2:hover {
	
  background-color: #4CAF50; /* Green */
  color: white;
   overflow: hidden;
  cursor: pointer;
}

.button3{
	
	margin-left:14%;
	background-color: grey; /* Green */
	border-radius: 7px;
	border: 2px solid black;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	
}

.button3:hover {
	
  background-color: #4CAF50; /* Green */
  color: white;
   overflow: hidden;
  cursor: pointer;
}